@import "mixins";

button {
    font-size: 1em;
    padding: 0.6em 0.9em;
    margin: 0.2em;
    border-radius: 1em;
    text-shadow: none;
}

.calculator-portlet input[type="text"].calculator-display {
    width: 90%;
    height: 30px;
    padding: 0 0.5em;
    line-height: 1;
    font-size: 1.3em;
    text-align: right;
    border: none;
}

.calculator-portlet .calculator-memory {
	font-size: 0.8em;
	padding: 0.5em 0.3em;
	line-height: 10px;
    background: #FFF;
}
.ie .calculator-portlet .calculator-memory {
    max-width: 20%;
}
.calculator-portlet .calculator-buttons {
	border: 1px #CCC solid;
	width: 90%;
	padding: 0.5em;
	margin-top: 1em;
	border-radius: 0.6em;

}
.calculator-portlet .calculator-numbers {
    float: left;
    width: 76%;
}

.calculator-portlet .calculator-buttons button {
    margin: 2px;
    border-radius: 20px;
}

.memory-btns{
	display: inline-block;
	width: 100%;
	padding-bottom: 10px;
}

.calculator-portlet .calculator-numbers button.btn-primary {
    padding: 12px 12px;
    padding: 12px 12px;
    line-height: 8px;
    width: 35px;  
}

.calculator-portlet .calculator-operations {
	float: right;
	width: 24%;
}

.calculator-portlet .calculator-operations button.btn {
    line-height: 10px;
}

.calculator-portlet .calculator-operations .op-buttons {
	padding: 0.5em 0.6em;
	font-size: 0.8em;
}

.calculator-portlet .equals-operator {
 	padding: 2em 0.6em;
 	font-size: 0.8em;
}

.portlet-body .calculator-portlet {
	border: solid 1px #AAA;
	padding: 1em;
	width: 280px;
	border-radius: 1em;
	background: rgba(0, 0, 0, 0.05);
	margin: 0 auto;
	text-align: center;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}


@media (max-width: 979px) {
    .calculator-portlet .calculator-buttons button {
        display: inline-block;
        width: auto;
    }
}